.bottomNav {
  position: absolute;
  margin-top: -50px;
  margin-bottom: 0px;
  width: 100%;
  height: 150px;
  background: linear-gradient(
    180deg,
    rgba(255, 182, 99, 1) 0%,
    rgba(255, 147, 24, 1) 100%
  );
  z-index: 100;
}

.bottomNavBar {
  list-style-type: none;
  margin: 0px 2px;
}

.bottomNavBar-style {
  padding-top: 10px;
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.bottomNavBar-style2 {
  padding-top: 10px;
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.bottomNavBar-style3 {
  padding-top: 10px;
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  font-size: 10px;
  color: #ffffff;
}

.bottomNav-list {
  z-index: 1000;
}

.bottomNavBar .logo-img {
  text-align: center;
  float: left;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 3px 20px 20px 10px;
  width: 80px;
  height: 100px;
  text-decoration: none;
  overflow: hidden;
  opacity: 0.99;
  color: #121212;
  cursor: pointer;
}

.bottomNavBar .logo-img img {
  width: 90px;
  height: 110px;
  margin: auto;
}

.bottomNavBar .logo-img::before {
  content: "";
  position: absolute;
  top: 80%;
  left: -90%;
  width: 90%;
  height: 90%;
  z-index: 1;
}

.bottomNavBar .link {
  padding: 5px;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(46, 91, 173, 0.6);
}

.bottomNav-link {
  color: #ffffff;
  text-decoration: none;
  padding: 8px;
}

.bottomNav-link:hover {
  color: black;
}

.bottomNav-link:focus-visible {
  color: black;
  background-color: #fecb92;
  text-shadow: none;
}

@media only screen and (max-width: 700px) {
  .bottomNav {
    height: auto;
    margin: auto;
  }

  .bottomNavBar {
    height: auto;
  }

  .link {
    text-align: center;
  }

  a.bottomNav-logo.logo-img {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media only screen and (max-width: 370px) {
  .bottomNav {
    height: auto;
    margin: auto;
  }

  .bottomNavBar {
    height: auto;
    margin-bottom: 20px !important;
  }

  .media-style {
    display: flex;
    flex-wrap: wrap;
  }

  .bottomNavBar-style2 {
    margin-top: -30px !important;
  }

  li.bottomNav-list {
    display: flex;
    flex-wrap: wrap;
  }

  a.bottomNav-logo.logo-img {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}
